<% for(let i = 0; i < users.length; i++) { %>
<tr>
  <td><%= i + 1 %></td>
  <td><%= users[i].name %></td>
  <td><%= users[i].email %></td>
  <td><%= users[i].gender %></td>
  <td><%= users[i].status %></td>
  <td>
    <a
      href="/update-user?id=<%= users[i]._id %>"
      class="btn border-shadow update"
    >
      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
    </a>
    <a class="btn border-shadow delete" data-id="<%= users[i]._id %>">
      <span class="text-gradient"><i class="fas fa-times"></i></span>
    </a>
  </td>
</tr>
<script>
  console.log("Its working");
  if (window.location.pathname === "/") {
    $ondelete = $("td a.delete");
    $ondelete.click(function () {
      const id = $(this).attr("data-id");

      var request = {
        url: `http://localhost:5000/api/users/${id}`,
        method: "DELETE",
      };
      if (confirm("Do you really want to delete this record?")) {
        $.ajax(request).done(function (response) {
          alert("Data Deleted Successfully!");
          location.reload();
        });
      }
    });
  }
</script>
<% } %>
